@model EcommApp.Models.product

@* There was no delete product page, so I added this *@

@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="product-listing">
            <div class="title">
                <h2>Delete Products</h2>
            </div>
            <div class="formBx">
                <br />
                <h2>Delete Product</h2>
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Product</h4>
                    <hr />
                    <table>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    <tr>
                        <td><img src="~/Media/@ViewBag.product.prod_image" alt=""></td>
                        <td>@ViewBag.product.prod_name</td>
                        <td>@ViewBag.product.price</td>
                        <td>@ViewBag.product.stock</td>
                    </tr>
                    </table>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn" /> |
                            @Html.ActionLink("Back to List", "ManageProducts")
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


