@model IEnumerable<EcommApp.Models.product>
<!-- added the above -->

@{
    ViewBag.Title = "Manage Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="product-listing">
            <div class="title">
                <h2>Products</h2>
                <!-- Added -->
                <p>
                    <a href="/Admin/AddProduct" class="btn">Add New Product</a>
                    @*@Html.ActionLink("Add New Product", "AddProduct")*@
                </p>
            </div>
            <table>
                <tr>
                    @* Commented out below *@
                    @*<th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>*@
                    @* Replaced with  *@
                    <th>
                        @Html.DisplayName("Product Name")
                        @*@Html.DisplayNameFor(model => model.prod_name)*@
                    </th>
                    <th>
                        @Html.DisplayName("Stock")
                        @*@Html.DisplayNameFor(model => model.stock)*@
                    </th>
                    <th>
                        @Html.DisplayName("Price")
                        @*@Html.DisplayNameFor(model => model.price)*@
                    </th>
                    <th>
                        @Html.DisplayName("Product Image")
                        @*@Html.DisplayNameFor(model => model.prod_image)*@
                    </th>
                    <th>
                        @Html.DisplayName("Product Description")
                        @*@Html.DisplayNameFor(model => model.prod_desc)*@
                    </th>
                    <th>
                        @Html.DisplayName("Product Category")
                        @*@Html.DisplayNameFor(model => model.prod_desc)*@
                    </th>
                </tr> @* <-- this table header row was missing this closing tr tag*@

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.prod_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @if (item.prod_image != null)
                        {
                            <img src="~/Media/@Html.DisplayFor(modelItem => item.prod_image)" height="100" width="100" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prod_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product_cat)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = item.prod_id }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.prod_id })
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>


