@model IEnumerable<EcommApp.Models.@event>

@{
    ViewBag.Title = "Manage Events";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="cards">
    </div>
    <div class="content-2">
        <div class="row justify-content-center">
            <div class="title">
                <h2>Events</h2>
                <p>
                    <a href="\Admin\AddEvent" class="btn">Add New Event</a>
                </p>
            </div>
            <table>
                <tr>
                    <th>
                        @Html.DisplayName("Event Name")
                    </th>
                    <th>
                        @Html.DisplayName("Start Date")
                    </th>
                    <th>
                        @Html.DisplayName("End Date")
                    </th>
                </tr> 
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ev_name)
                        </td>
                        <td>
                            @item.start_date.ToShortDateString()
                        </td>
                        <td>
                            @item.end_date.ToShortDateString()
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditEvent", new { id = item.ev_id }) |
                            @Html.ActionLink("Delete", "DeleteEvent", new { id = item.ev_id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>




