@model EcommApp.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Log In</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: rgb(240, 240, 240);
        }

        .row {
            background: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;
        }

        h1 {
            position: relative;
            color: #ffffff;
            -webkit-text-stroke: 0.3vw #ffffff;
            text-transform: uppercase;
        }

            h1::before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                color: #D19C97;
                -webkit-text-stroke: 0vw black;
                border-right: 2px solid #ffffff;
                overflow: hidden;
                animation: animate 6s infinite;
            }

        @@-webkit-keyframes animate {
            0%, 10%, 100% {
                width: 0;
            }

            70%, 90% {
                width: 100%;
            }
        }

        img {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .btn1 {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: #D19C97;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }

            .btn1:hover {
                background: white;
                border: 1px solid;
                color: black;
            }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <section class="Form my-4 mx-5 mt-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="~/Media/fas.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 data-text="HOUSE">HOUSE</h1>
                    <h1 data-text="OF">OF</h1>
                    <h1 data-text="FASHION">FASHION</h1>
                    <h4>Sign in to your account</h4>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control my-1 p-2", placeholder = "Email Address" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control my-1 p-2", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="submit" value="Login" class="btn1 mt-3 mb-5" />
                                @*<a href="/Home/Index"><button type="button" class="">Login</button></a>*@
                            </div>
                        </div>
                        @*<a href="#">Forgot Password</a>*@
                        <p class="para-2">Don't have an account? <a href="/Account/Register">Register here</a></p>
                    }
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
