@using EcommApp.Models;
@model coupon
@{
    EcommDBEntities db = new EcommDBEntities();
    ViewBag.Title = "Cart";
    ViewBag.Message = TempData["ErrorMessage"];

    decimal total = 0;
    List<cart_items> items = ViewData["items"] as List<cart_items>;
    if (items.Count() != 0)
    {
        foreach (var item in items)
        {
            decimal subtotal = item.price * item.quantity;
            total += subtotal;
        }
    }

    decimal GetOrigPrice(int pid)
    {
        decimal price = (from x in db.products
                         where (x.prod_id == pid)
                         select x.price).Single();
        return price;
    }

    int user_id = Convert.ToInt32(Session["user_id"]);
    int cart_id = Convert.ToInt32((from x in db.carts
                                   where (x.user_id == user_id)
                                   select x.cart_id).Single());

    var cart = (from x in db.carts
                where (x.cart_id == cart_id)
                select x).Single();

    Boolean hasCoupon(cart c)
    {
        if (c.coup_id == null)
        {
            return false;
        }
        return true;
    }

    String getCoupon(cart c)
    {
        var cpn = (from x in db.coupons
                    where (x.coup_id == c.coup_id)
                    select x).Single();
        return cpn.coup_code;
    }
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        @if (TempData["ConfirmationMessage"] != null)
        {
            <h4 class="font-weight-semi-bold m-0 text-success">@TempData["ConfirmationMessage"]</h4>
            <hr>
        }
        @if (items.Count() != 0)
        {
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @foreach (var item in items)
                        {
                            <tr>
                                <td class="align-middle">@item.item_name</td>
                                <td class="align-middle">@item.price @if (GetOrigPrice(item.prod_id)!=item.price)
                                {
                                    <strike style="color:orangered;">@GetOrigPrice(item.prod_id)</strike>
                                }</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <a href="/Checkout/Minus?prod_id=@item.prod_id" class="btn btn-sm btn-primary btn-minus">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center" value="@item.quantity">
                                        <div class="input-group-btn">
                                            <a href="/Checkout/Plus?prod_id=@item.prod_id" class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@(item.price * item.quantity)</td>
                                <td class="align-middle"><a href="/Checkout/Delete?id=@item.prod_id"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                @using (Html.BeginForm("ApplyCoupon", "Checkout", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group">
                        @Html.EditorFor(model => model.coup_code, new { htmlAttributes = new { @class = "form-control p-3", placeholder = "Coupon Code" } })
                        @Html.ValidationMessageFor(model => model.coup_code, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <input type="submit" value="Apply Coupon" class="btn btn-primary" />
                        </div>
                    </div>
                    if (ViewBag.Message != null)
                    {
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    }
                }
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Total</h6>
                        <h6 class="font-weight-medium">₱@total</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">₱50</h6>
                    </div>
                </div>
                @if (hasCoupon(cart))
                {
                    <div class="card-body">
                        <h6 class="font-weight-medium">Coupon Applied: @getCoupon(cart)</h6>
                    </div>
                }
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Grand Total</h5>
                        <h5 class="font-weight-bold">₱@(total + 50)</h5>
                    </div>
                    <a href="/Checkout/Payment"><button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button></a>
                </div>
            </div>
            </div>
        }
        else
        {
            <h4 class="font-weight-semi-bold m-0">No items in your cart</h4>
        }
    </div>
    </div>
<!-- Cart End -->
